version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: football_postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./docker/postgres/pg-data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:26.5.2
    container_name: football_keycloak
    restart: unless-stopped
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KC_DB_SCHEMA: public
      KC_DB_PORT: 5432
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME: localhost
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    command: start-dev
    volumes:
      - ./docker/keycloak/kc-data:/opt/keycloak/data
