$vision_luminous-green: #0df280;
$vision_front-dark-green: #102219;
$vision_dark_green: #102219;
$vision_navy_green: #0a1410;
$vision_light_green: #0df280;
$vision_green_button_lighter: #12d373;
$vision_green_button_darker: #0baf5e;
$unit_size: 1rem;
