@use '../vision-variables/variables' as *;

.vision-login-bg {
  background: radial-gradient(
    circle at center,
    $vision_dark_green 0%,
    $vision_navy_green 70%
  );
}

.vision-login-card {
  background: #fff;
  border: 1px solid $vision_light_green;
}

.vision-logo {
  height: $unit_size * 8;
  width: $unit_size * 8;
}

.login-keycloak-btn{
  background: $vision_green_button_lighter;
  &:hover{
    background: $vision_green_button_darker;
  }
}

.vision-network-info-cards{
  color: $vision_green_button_darker;
}
