@use '../vision-variables/variables' as *;

.vision-login-bg {
  background-color: $vision_background_darker_white_shade;
}

.vision-logo {
  height: $unit_size * 6;
  width: $unit_size * 6;
}
.vision-green-btn {
  background-color: $vision_green;
  &:hover {
    background-color: $vision_darker_green;
  }
};
