/* You can add global styles to this file, and also import other style files */
@import ' bootstrap/dist/css/bootstrap.min.css';

$vision_luminous-green: #0df280;
$vision_front-dark-green: #102219;

body {
  font-family: 'Lexend', sans-serif;
}
